:root {
  --bg-color: #f0eadcff;
  --titlebg: url(images/reinhartandjasper_sm.jpg);
}

::selection {
  background: rgba(80, 201, 86, 0.253);
  /* color:rgba(0, 0, 0); */
}

body {
  margin: 2em;
  font-family: 'EB Garamond', serif;
  font-size:1em;
  background-color: var(--bg-color);
  background-image: url(images/bg_paper.jpg);
  background-attachment: fixed;
  background-repeat: repeat-y;
  background-blend-mode:normal;
}

.pointer {cursor: pointer;}
.cell {cursor: cell;}

/* Grid stuff from: https://codepen.io/geoffgraham/pen/EbVELV */

.grid {
  /* Grid Fallback */
  display: flex;
  flex-wrap: wrap;
  
  /* Supports Grid */
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(18em, 1fr));
  grid-auto-rows: minmax(auto);
  grid-gap: 1em;
  padding-bottom:2em;
}

.postbox {
  /* display: flex;  CAUSES THE DATE/TITLE TO BE PLACED TO THE RIGHT OF THE POST DESCRIPTION */
  align-items: center;
  justify-content: center;
  
  /* Flex Fallback */
  margin: 5px;
  flex: 1 1 200px;
}

.postbox img {
  width:100%;
  border-style: double;
  border-width:.25em;
  border-color:white;
}



/* If Grid is supported, remove the margin we set for the fallback */
@supports (display: grid) {.postbox {margin: 0;}}


/* END OF GRID STUFF FROM CODEPEN */


a {
  /*text-underline-offset: .25em;
  text-decoration:underline dashed #666;*/
  color: #070707;
  text-decoration:none;
  /* background-color: var(--bg-color); */
}

.source {
  font-size:.75em;
  text-align:center;
  margin:-1em 0 1em 0em;
  padding:0;
}

.center-this {
  margin: 0 auto;
  text-align:center;
}

.align-right {
  margin: 0;
  margin-right:1em;
  text-align:right;
}

.float-left {
  float: left;
  padding:1em;
}

.float-right {
  float: right;
  padding:1em;
}

.manicule {
  width:2em;
  margin:0 0 0 .4em;
  padding: 0;
  position:relative;
  top:.25em;
}

.main-icons img {width:4em;}

.img-1em {width:1em;}
.img-2em {width:2em;}
.img-3em {width:3em;}
.img-4em {width:4em;}
.img-6em {width:6em;}
.img-8em {width:8em;}
.img-10px {width:10px;}
.img-16em {width:16em;}
.img-round {
  border-radius:100%;
  margin-top:1.5em;
}
.underline {text-decoration: underline green solid;}

.pillcrow {
  margin:0;
  padding:0;
  height:1.25em;
  width:auto;
}

.stars {
  height:4em;
  width:10em;
  padding-bottom:2em;
}

p {
  margin:1em 0 0 0;
}

blockquote {
  color:#752626;
}

/*
blockquote {
  border-left:1em solid rgba(255, 232, 155, 0.7);
  text-indent:-2.5em;
}

blockquote::before {
  content: "❝";
  font-size:5em;
  position:relative;
  left:0em;
  top:.5em;
  color:rgba(201, 154, 122, 0.699);
}
*/

.gray, .grey {
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
  transition: all 1s ease-in-out;
  /* background-blend-mode: screen;
  background-image: url(images/halftonescreen.png);
  background-size: 50%; */
}

#headerbutton,
#headerbutton a {
  /* color:rgb(19, 19, 19);
  font-family: "Abril Fatface", serif;
  font-weight: 400;
  font-style: normal; */
  font-size:0;
  text-decoration: none;
  position:sticky;
  z-index:3;
  margin:0 auto 0 auto;
  display:block;
  top:.25em;
  width:min-content;
  /* background-color: #dbd1d1;
  border-radius: 20px; */
  padding:1em;
}
/* 
#headerbutton::after {
  content: "MrPatrickReinh.art/";
} */

.abril {
  font-family: "Abril Fatface", serif;
  font-weight: 400;
  font-style: normal;
}

.mrp_header/*, .bodyimg*/ {
  width:80%;
  padding:0;
  margin:-1em auto 0 auto;
  display:block;
  visibility:visible;
}

.bodyimg {
  width:100%;
}

.windowpane {
  background-image: var(--titlebg);
  /* BG IMAGE DEFINE AT ROOT AT TOP OF DOC!! */
  background-attachment: fixed;
  background-position: top;
  background-size:auto;
}

/* .header-email {
  position:relative;
  top:1.5em;
  left:auto;
  color:rgba(114, 53, 44, 0.596);
} */

.title {
  font-family: "Abril Fatface", serif;
  font-weight: 400;
  font-style: normal;
  font-size:4em;
  margin:.5em auto;
}
.header2rem {
  font-size:2rem;
  color: #0000009c;
  background-color: rgba(250, 235, 215, 0);
  margin:0 auto 1em auto;
}


.art-title {
  /* text-decoration: underline solid rgba(255, 166, 0, 0.315); */
  color:rgba(19, 3, 0, 0.849);
}

.multiply {mix-blend-mode: multiply;}
.screen {
  mix-blend-mode: screen;
  background-image: url(images/halftonescreen.png);
  background-size: 50%;
}

.content, .photogallery {
  line-height:1.5em;
  margin:auto;
  display:block;
  position:relative;
  width:36em;

  /* trying to get the Sattler illustration to sit to the left of the main content column */
}

.photogallery {width:100%}

.dropcontent {
  padding-bottom:2.5em;
  font-family: 'EB Garamond', serif;
}

.danceofdeath {
  position:absolute;
  right:100%;
  bottom:0;
  width:350px;
  height:479px;
  background-image: url(images/josephsattler_danceofdeath_trans.png);
  background-size:contain;
  margin:0 2em 2em 0;
  /* font-family: 'Courier Prime', monospace;
  font-size:.65em;
  color:#00000077; */
  /* Just trying to get the text at the bottom of the div, which is trickier than expected: */
  display: flex;
  align-items: flex-end;
  visibility: visible;
}

/* .danceofdeath::after {
  content:"sdsdsdsds";
} */


/* .content a {
  background-color: var(--bg-color);
}
  ....
  */

.hilite {background-color: rgba(255, 240, 155, 0.2);}
.hilite_red {background-color: rgba(255, 155, 155, 0.2);}

.highlighter {
  background-color: rgba(255, 240, 155, 0.3);
  text-decoration:underline solid orange;
  text-underline-offset: .25em;
}

.highlighter:hover {
  text-decoration:underline solid rgba(26, 65, 42, 0.527);
}

.highlighter::after {
  content:" ➼"
}

.highlighter:hover::after {
  content:" ➹"
}

.aside {
  background-color: #75262600;
  color:#070707a8;
}

.aside::before {content:"["}
.aside::after {content:"]"}

.article p {text-indent:1.25em;}
.firstpara::before {content:"¶ ";}
p.firstpara {text-indent:0;}

.content::after, .postcontent::after {
  font-size:.75em;
  font-family: 'Courier Prime', monospace;
  content:"© Patrick Reinhart MMXXV";
}

.disclaimer {
  margin:1em 0;
  font-size:.75em;
  line-height: 90%;
}

.article::first-line {
  color:rgb(114, 53, 44);
  font-family: "Grenze Gotisch", serif;
  font-size:larger;
}

.month, .subtitle {
  font-size:1.5em;
  font-family: 'Courier Prime', monospace;
  text-transform:uppercase;
  margin:1.5em 0 1.5em 0;
  color:rgba(71, 161, 98, 0.384);
  text-align:center;
}

.month::after, .month::before,
.subtitle::after, .subtitle::before {content:" ×———× "}

/* FOR DROPDOWN MENU!! */

.Dropdown {
  display:block;
  margin:0 auto;
  text-align:center;
  text-decoration: none;
}

.Dropdown::before, .Dropdown::after {content:" ➷ ";}

@media (max-width:66em) {
  .content, .postcontent {
    width: 100%;
    margin:auto;
  }

  .tagline {
    font-size:smaller;
    line-height:90%;
    margin:.75em 0 0 0;
  }

  .title {line-height: 1em;}
  .header2rem {line-height:90%;}
  .danceofdeathdisclaimer {visibility: hidden;}
  .bodyimg {width:80%;}
}

@media (max-width:550px) {
  .main-icons img {width:3.5em;}
  .mrp_header {width:90%;}
  .title {
    margin-top:.25em;
    font-size:3.75em;
  }
   .month {
    margin-top:.25em;
    visibility:visible;
  }
}

@media (max-width:500px) {
.month::after, .month::before, .subtitle::after, .subtitle::before {
  content:" × "
}
  .mrp_header, .fleuron {visibility:hidden;}
  .subtitle {margin-top:.25em;}
  .content {width: 100%;}
  .title {font-size:3em;}
  /* #headerbutton {visibility:hidden;} */
}

/* END @MEDIA QUERIES! */

.inwhich {
  margin-left:auto;
  margin-right:auto;
  text-align:center;
  margin-top:1em;
  width:85%;
  font-style:italic;
}

.inwhich::first-line {
  text-transform:capitalize;
}

.biopic {
  display:block;
  width:90%;
  margin:1.5em 0;
  border:double 10px black;
  margin:2em auto;
  text-align:center;
}

.date {
  /* margin:2em 2em; */
  text-transform:uppercase;
  color:rgb(24, 61, 26);
  border-bottom: 1px dashed rgba(31, 31, 31, 0.4);
  /* background: linear-gradient(90deg, rgba(255,221,221,1) 0%, rgba(255,255,255,0) 100%); */
  font-weight:600;
  font-size:1.125em;
  font-family: 'Courier Prime', monospace;
  /* another good red - #d25b5b */
}

.date a {background-color: red;}
.blurb {margin-bottom:2em;}

.blurb::after {
  content:"";
  font-size:1rem;
}

a .blurb {
  text-decoration:none;
  background-color: var(--bg-color);
}

.asterism, .fleuron {
  text-align:center;
  margin:1em 0;
}

.asterism::after {content:"⁂";}
.fleuron::after {content: "❦";}

.grenze {
  font-family: "Grenze Gotisch", serif;
  font-optical-sizing: auto;
  font-size: larger;
  font-weight: 400;
  font-style: normal;
}

footer, .courier {
  padding-top:1em;
  font-family: 'Courier Prime', monospace;
  vertical-align:middle;
}

.logo_pm {
  height:3em;
  width:3.01em;
}

.img-flex-lineup {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    align-content: stretch;
    margin:0;
    max-width: 700px;
    gap:0;
  }


  
/* Scrollbar styles */
::-webkit-scrollbar {
  width: .5em;
  height: .5em;
  }
  
::-webkit-scrollbar-track {border: 1.5px solid #ffffff00;}
::-webkit-scrollbar-thumb {background: #d25b5b;}
::-webkit-scrollbar-thumb:hover {background: #944040;}